In [1]:
import pandas as pd
dataset=pd.read_csv('insurance_pre.csv')

In [2]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
datanumeric=pd.get_dummies(dataset, drop_first=True)

In [4]:
datanumeric.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
indep=datanumeric[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dep=datanumeric[['charges']]

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test=train_test_split(indep,dep,test_size=1/3,random_state=0)

In [8]:
x_train

      age    bmi  children  sex_male  smoker_yes
482    18  31.35         0         0           0
338    50  32.30         1         1           1
356    46  43.89         3         1           0
869    25  24.30         3         0           0
182    22  19.95         3         1           0
...   ...    ...       ...       ...         ...
763    27  26.03         0         1           0
835    42  35.97         2         1           0
1216   40  25.08         0         1           0
559    19  35.53         0         1           0
684    33  18.50         1         0           0

[892 rows x 5 columns]

In [9]:
y_train

         charges
482    1622.1885
338   41919.0970
356    8944.1151
869    4391.6520
182    4005.4225
...          ...
763    3070.8087
835    7160.3303
1216   5415.6612
559    1646.4297
684    4766.0220

[892 rows x 1 columns]

In [10]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()

In [11]:
regressor=regressor.fit(x_train,y_train)

In [13]:
y_pred=regressor.predict(x_test)

In [14]:
from sklearn.metrics import r2_score

In [16]:
r_score=r2_score(y_pred,y_test)

In [17]:
r_score

0.6999438791061598